[submodule "ogg"]
	path = ogg
	url = https://github.com/xiph/ogg.git
	branch = v1.3.5
[submodule "flac"]
	path = flac
	url = https://github.com/xiph/flac.git
	branch = 1.3.4
[submodule "vorbis"]
	path = vorbis
	url = https://github.com/xiph/vorbis.git
	branch = v1.3.7
[submodule "opus"]
	path = opus
	url = https://github.com/xiph/opus.git
	branch = v1.3.1
[submodule "opusfile"]
	path = opusfile
	url = https://github.com/xiph/opusfile.git
	branch = v0.12
[submodule "openal-soft"]
	path = openal-soft
	url = https://github.com/kcat/openal-soft.git
	branch = openal-soft-1.21.0
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
	branch = master
[submodule "freetype2"]
	path = freetype2
	url = https://gitlab.freedesktop.org/freetype/freetype.git
	branch = VER-2-12-1
